<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.silk.checklist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="org.hsc.silk.App">
        <activity
            android:name=".activity.HalqMainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HalqMainMenu"
            		android.label="@string/title_activity_main_menu"/>
        <activity android:name=".activity.PaperListActivity"
            		android.label="@string/title_activity_paperlist"/>
        <activity android:name=".activity.QuestionListActivity"
            		android.label="@string/title_activity_questionlist"/>
        <activity android:name=".activity.QuestionDetailActivity"/>
        <activity android:name=".activity.AnswersheetListActivity"/>
        <activity android:name=".activity.AnswerListActivity"/>
        <activity android:name=".activity.AnswerActivity"/>
        <activity android:name=".activity.AnswersheetInfo"/>
        <activity android:name=".activity.SelectPaper"/>
        <activity android:name=".activity.BPartnerInfo"/>
        <activity android:name=".activity.SelectBPartner"/>
        <activity android:name=".activity.AnswersheetTabActivity"/>
        <activity android:name=".activity.SelectAuditors"/>
        <activity android:name=".activity.AttendanceList"/>
        <activity android:name=".activity.SetDateTime"/>
        <activity android:name=".activity.AuditorInfo"/>
    </application>

</manifest>